

@font-face {
    font-family: "neuemetana" ;
    src: url(webfonts/NeueMetanaMono-Light.otf);
}

@font-face {
    font-family: "telegraf" ;
    src: url(webfonts/PPTelegraf-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: "telegraf light" ;
    src: url(webfonts/PPTelegraf-Ultralight.otf);
    font-weight: 700;
}



body {
    margin: 0;
    padding: 0;
    font-family: "telegraf light";
    font-size: 1rem;
    color : rgb(0, 0, 0) ;
    background : #ffffff ;
    text-decoration: none;
    line-height: 1.5;
    overflow-x: hidden;
}





h1 {
    color: blue;
    font-size: clamp(20px, 8vw + 1rem, 170px);
    text-align: center;
    font-family: "neuemetana";
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0px;
    text-decoration: none;
    justify-content: space-between;
}

.p-présentation {
    color : rgb(0, 0, 0);
    text-align: left;
    margin-left: 100px;
    margin-right: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 1000px;
    font-size: clamp(25px, 4vw, 50px);
    gap : none ;
    text-decoration: none;
}


.p-présentation a {
    text-decoration: none;
    color: red;
}

.p-présentation a:hover {
    text-decoration: none;
    color: red;
    font-style: italic;
}



.p-présentation-anglais {
    color : rgb(0, 0, 0);
    text-align: left;
    margin-left: 100px;
    margin-top: 100px;
    margin-right: 20px;
    margin-bottom: 100px;
    max-width: 1000px;
    font-size: clamp(25px, 4vw, 50px);
    gap : none ;
    text-decoration: none;
    font-style: italic;
}

.p-présentation-anglais a {
    text-decoration: none;
    color: red;
}

.p-présentation-anglais a:hover {
    text-decoration: none;
    color: red;
    font-style: normal;
}


/* uniquement pour la flêche*/
h4 {
    color : rgb(0, 0, 0);
    text-align: center;
    margin-left: auto;
    margin-top: 75px;
    max-width: auto;
    font-size: 20px;
    gap : none ;
    text-decoration: none;
}

/* pour le titre et la date des projets */
.p-1 {
    color : rgb(0, 0, 0);
    text-align: left;
    margin-left: 100px;
    margin-bottom: 5px;
    margin-top: 20px;
    max-width: 400px;
    font-size: clamp(16px, 3vw, 20px);
    text-decoration: none;
    line-height: 1.4;
}

/* pour le texte des projets*/
.p-2 {
    color : rgb(0, 0, 0);
    text-align: left;
    margin-left: 100px;
    margin-top: 50px;
    margin-right: 50px;
    max-width: 400px;
    font-size: clamp(16px, 3vw, 20px);
    gap : none ;
    text-decoration: none;
    line-height: 1.4;
}


/* pour le texte de la page about*/
.p-about {
    color : rgb(0, 0, 0);
    text-align: left;
    margin-left: 100px;
    margin-bottom: 5px;
    margin-top: 10px;
    max-width: 400px;
    font-size: 20px;
    text-decoration: none;
    line-height: 1.4;
}

.p-about a {
    text-decoration: none;
    color: red;
}

.p-about a:hover {
    text-decoration: none;
    color: red;
    font-style: italic;
}


.p-domaines {
    color : red;
    text-align: right;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
    max-width: auto;
    font-size: clamp(16px, 2vw, 20px);
    text-decoration: none;
    line-height: 1.25;
}


.p-footer {
    color : rgb(0, 0, 0);
    text-align: left;
    margin : O ;
    margin-right: 20px;
    max-width: auto;
    font-size: clamp(16px, 2vw, 20px);
    text-decoration: none;
    line-height: 1.25;
}

.p-page-works {
    position: absolute;
    bottom: 100%;
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 20px;
    font-size: clamp(16px, 2vw, 20px);
    gap : none ;
    opacity: 0; 
    transition: opacity 0.3s ease;
}


hr {
    border: none; 
    border-top: 1px solid rgb(0, 0, 0); 
    width: auto; 
    margin-left: 20px;
    margin-right: 20px;
}


img {
    max-width: 100%;
    height : auto ;
} 

header {
    position: sticky;
    top : 0 ;
}
.header-container {

    display : flex ;
    justify-content: space-between;
    height: 100%;
    max-width: auto;
    margin: 0 auto;
    margin-right: 10px;
}


.logo-textuel {
    align-self: center;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 15px;
}

.logo-img {
    width: 75px;
    height: 75px;
    background: url('logo.svg') no-repeat center;
    background-size: contain;
}

.nav {
    justify-content: space-between;
    align-self: right;
    margin-top: 10px;
}

.nav a {
    margin-left: 1rem;
    text-decoration: none;
    color: black;
    mix-blend-mode: difference;
}


.nav a:hover {
    color: red;
    font-style : italic;
}

.current {
    font-style: italic;
    color: blue;
}

::selection {
    background-color: red; 
    color: #fffbef; 
}

.projets {
    display: flex;
    gap: 0px;
    max-width: 99%;
    margin-top: 75px 0 auto 0 ; 
    margin-left: 20px;
    margin-right : none;
    scrollbar-width: none; 
    overflow-x: auto;
}


.projets::-webkit-scrollbar {
    display: none; /* Masque la barre de défilement sur Chrome, Safari et Edge */
}

.projet {
    position: relative; 
    text-decoration: none;
    flex: 0 0 auto;
    transition: transform 0.3s;
    width: 600px;
}

.projet:hover .p-page-works {
    opacity: 1;
}

.projet img {
    width: 100%;
    height: auto;
    display: block;
}

.projet:hover {
    transform: scale(0.9); /* Effet d'agrandissement au survol */
}

.horizontal-scroll {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap:0px;
    margin: 0;
    scroll-behavior: smooth; 
}




@media (min-width: 700px) {
    .projets {
        grid-template-columns: repeat(2, 1fr); /* Passe à 2 colonnes */
    }
}

@media (min-width: 1200px) {
    .projets {
        grid-template-columns: repeat(3, 1fr); /* Passe à 2 colonnes */
    }
}





.page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: auto;
    margin: 10px;
    padding: 1rem;
    gap : 10px;
}

.page-large {
    display: grid;
    grid-template-columns: 1fr;
    max-width: auto;
    margin: 10px;
    padding: 1rem;
    gap : 10px;
    text-decoration: none;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.8); 

}

.modal .close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content {
    margin: 50px auto; /* Center the modal on the screen */
    display: block;
    width: auto; 
    max-width: 700px;
}

.modal-content:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}


.oval-button-salon-bleu {
    background-color: blue;
    color: #fffbef ; 
    padding: 20px 5px; 
    margin-top: 100px;
    margin-bottom: 50px;
    width: 250px;
    border: none; 
    border-radius: 30px; 
    font-size: 28px; 
    font-family: "telegraf"; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    text-align: center;
    text-decoration: none;
    place-self: center;
}

.oval-button-salon-bleu:hover {
    background-color: #f94301; /* Couleur plus foncée au survol */
    text-decoration: none;
}

.oval-button-nahen {
    background-color: rgb(124, 107, 0); 
    color: #fffbef ; 
    padding: 20px 5px; 
    margin-top: 100px;
    margin-bottom: 50px;
    width: 250px;
    border: none; 
    border-radius: 30px; 
    font-size: 28px; 
    font-family: "telegraf"; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    text-align: center;
    text-decoration: none;
    place-self: center;
}

.oval-button-nahen:hover {
    
    background-color:rgb(238, 218, 73);
    text-decoration: none;
}


#toTopBtn {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    cursor: pointer;
    font-size: 30px;
    text-align: right;
    font-weight: bold;
    color: black;
    text-decoration: none;
    z-index: 99;
    background: none;
    border: none;
} 

#toTopBtn:hover {
    color: #f94301;
    text-decoration: none;
}


.scroll-right {
    position: absolute;
    right: 25px;
    top: 60%;
    color: rgb(0, 0, 0);
    border: none;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 20%;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease;
}


.scroll-left {
    position: absolute;
    left: 25px;
    top: 60%;
    color: black;
    border: none;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 20%;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease;
}


html {
    scroll-behavior: smooth;
}



footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between; 
    padding: 20px;
    gap: 20px;
    font-family: "telegraf light";
    position: relative;
    max-width: 100%;
}


.footer-column p,
.footer-column a {
    font-size: 16px;
    line-height: 1.6;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.footer-column a:hover {
    font-style: italic;
    color: red;
}




/*
.projet {
    display : grid ;
    grid-template-columns: 1fr 1fr;
    gap : 10px ;
    text-decoration: none;
    color : black ;
} */







/*

footer {
    background-color: #f6ffef ;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #ff2600;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #2600ff;
}

*/